@use "../reboot";
@use "../config";
@use "../mixins";
@use "../components/navigation";

body {
	max-width: 1600px;
	margin: 0 auto;
}

.header-box {
	width: 90%;
	box-sizing: border-box;
	padding: 20px;
	margin: 20px auto;
	background-color: darken($color: config.$bg-color, $amount: 2.5);
	border-radius: 6px;
	box-shadow: config.$drop-shadow-light;

	h1 {
		color: config.$primary-color;
		font-size: 18px;
	}

	p {
		font-size: 14px;
		text-align: justify;
		margin-top: 5px;
	}
}

@include mixins.screen(470px) {
	.header-box {
		h1 {
			font-size: 16px;
		}
	
		p {
			font-size: 12px;
		}
	}
}

@include mixins.screen(370px) {
	.header-box {
		h1 {
			font-size: 14px;
		}
	
		p {
			font-size: 10px;
		}
	}
}

.container-products {
	$product-card-width: 300px;

	width: 95%;
	margin: 15px auto;
	margin-bottom: 45px;
	display: grid;
	grid-template-columns: repeat(auto-fit, $product-card-width);
	place-content: center;
	gap: 20px;

	.container-product {
		width: $product-card-width;
		box-sizing: border-box;
		padding: 10px;
		border: 1px solid config.$cart-border-color;
		border-radius: 6px;
		box-shadow: config.$drop-shadow-light;
		display: flex;
		flex-direction: column;
		align-items: center;

		img {
			width: 280px;
			height: 280px;
			margin-bottom: 10px;
			background-color: deeppink;
			border-radius: 3px;
		}

		span.badge {
			font-size: 10px !important;
			box-sizing: border-box;
			padding: 2px 4px;
			color: config.$white;
			background-color: config.$primary-color;
			border-radius: 50px;
			user-select: none;
		}

		span.price {
			font-size: 14px;
			width: 100%;
			margin: 8px 0;
			margin-bottom: 12px;
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 5px;
		}

		button {
			width: 100%;
			height: 35px;
			color: config.$white;
			background-color: config.$primary-color;
			border: 0;
			border-radius: 6px;
			transition: 0.2s;
		}

		button:hover {
			background-color: lighten($color: config.$primary-color, $amount: 5);
		}
	}
}
